.features {
    padding-bottom: 47px;

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;

        background-color: var(--team-background-color);
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-title-color);
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;

        line-height: 1.7;
        letter-spacing: 0.03em;
    }
}
